<div class="large-space"></div>

<h1 class="blog-header">Jonathan's Blog</h1>

<div id="paginator" class="pagination_div">
  <%= paginate @posts, :remote => true %>
</div>

<div id="posts">
  <%= render @posts %>
</div>

<% if current_user && current_user.is_admin? %>
  <div class="post-buttons">
    <%= link_to 'Back', '#', class: 'back_link post-button' %>
    <%= link_to 'New Post', new_post_path, class: 'post-button' %>
  </div>
<% else %>
  <div class="post-buttons">
    <%= link_to 'Back', '#', class: 'back_link post-button' %>
  </div>
<% end %>

