<div class="large-space"></div>

<h1 class="blog-header">Jonathan's Blog</h1>

<% @posts.each do |post| %>
  <div class="post-entry">

    <h3 class="post-entry-header"><%= link_to post.title, post_path(post) %></h3>
    <p><%= post.created_at.strftime("%B %d, %Y") %></p>

    <div class="post-body">
      <% if post == @posts.first %>
        <%= post.body.html_safe %>
      <% else %>
        <%= truncate(post.body.gsub(/<[^>]*>/ui, ''), length: 400, separator: "") %>
        <br>
        <%= link_to "read more", post_path(post) %>
      <% end %>
    </div>

  </div>
  <hr>
<% end %>


<% if current_user && current_user.is_admin? %>
  <div class="post-buttons">
    <%= link_to 'New Post', new_post_path, class: 'post-button' %>
  </div>
<% end %>
