<%= tinymce_assets %>
<div class="large-space"></div>

<h2><%= @post.title %></h2>

<p><%= @post.created_at.strftime("%B %d, %Y") %></p>

<p class="post-body"><%= @post.body.html_safe %></p>

<!-- <p class="back_button"> -->
  <%= link_to "Back to Blog", blogs_path %>
<!-- </p> -->
<%= link_to "Edit Post", edit_post_path %>

