<h2>Show User data</h2>

<div>
    <p><%= @user.username %></p>
    <div class="avatar_medium">
        <a href="<%= @user.avatar.url %>" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" >
            <img src="<%= @user.avatar.url(:medium) %>" />
        </a>
    </div>
    <a href="/users/<%= @user.id %>/delete_avatar"><button>delete Avatar</button></a>
</div>

<a class="left" href="/users/<%= @user.id %>/edit"><button>EDIT</button></a>

<form class="left" action="/users/<%= @user.id%>" method="post">
    <%= token_tag %>
    <input type="hidden" name="_method" value="delete">
    <button>DELETE</button>   
</form>

<a class="left" href="/users"><button>Show all Users</button></a>

<div class="clear"></div>

