<div id="home-block" class="information" name="home">
  <div class="row-fluid">
    <div class="span5">
      <div class="quote">
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nisi justo, eleifend feugiat orci at, bibendum vehicula sapien." <span class="quote_source">John Doe, Jazz-Pianist</span>
      </div>
      <div class="quote">
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit." <span class="quote_source">Jane May, Singer</span>
      </div>
      <div class="quote">
        "Donec nisi justo, eleifend feugiat orci at, bibendum vehicula sapien. Sed tincidunt imperdiet arcu, vel venenatis quam ornare a." <span class="quote_source">Bob Doe, Saxophonist</span>
      </div>
    </div>
    <div class="span7">
     <!--  <img src="https://s3.amazonaws.com/jgstudios/pictures/intro.jpg" alt="Responsive image"> -->
      <img src="<%= asset_path("intro.jpg") %>" alt="Responsive image">
    </div>
  </div>
</div>

<div id="galleries-block" class="information" name="galleries">
  <div class="row-fluid">

    <div class="span6">
       <img src="<%= asset_path("jazzgalleryB.jpg") %>" >
    </div>

    <div class="span6">

      <div class="row-fluid">
        <div class="span6">
          <img src="<%= asset_path("jazzgallery.jpg") %>" >
        </div>
        <div class="span6">
          <img src="<%= asset_path("womenjazz.jpg") %>" >
        </div>
      </div>
<p></p>
      <div class="row-fluid">
        <div class="span6">
          <img src="<%= asset_path("luminaries.jpg") %>" >
        </div>
        <div class="span6">
          <img src="<%= asset_path("circleoftrust.jpg") %>" >
        </div>
      </div>

    </div>
  </div>
  <div class="clear"></div>
</div>

<div id="about-block" class="information" name="about">
  <div class="row-fluid">

    <div class="span4">
<!--       <div id="video">
        <iframe width="400" height="300" src="http://www.youtube.com/embed/rmyzOU6ftHE?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
      </div> -->
    </div>

    <div class="span8">
      <div id="facts">
        <h3>Jonathan Glass - the Artist</h3>
        <p>
          Jonathan took pastel and figurative studies from ages 10-18. He considers his passion to have started in his third year of college. Teacher Alan E. Cober taught journaling of experiences through sketchbook class. This was informative to develop his personal style of drawing. Jonathan also invested a lot of time getting to know elderly people in the old homes of Amherst NY. This was around the time his grandfather was dying. Although not limited to a theme, Alan E Cober encouraged Jonathan to draw in anatomy labs, baseball games, grade school, zoos and (his favorite), concerts.
        </p>
      </div>
    </div>

  </div>
  <div class="clear"></div>
</div>

<div id="blog-block" class="information" name="blog">
  <h3>Blog</h3>
  <p>
    <h1 class="blog_header">Jonathan's Blog</h1>

    <% @posts.each do |post|%>

      <div class="post-entry">
        <h2><%=link_to post.title, post_path(post.id) %></h2>
        <p><%=post.created_at.strftime("%B %d, %Y")%></p>

        <div class="post-body">
          <%if post==@posts.first%>
            <%post.body.html_safe%>
          <%end%>
        </div>
      </div>
      <hr>
    <%end%>

    <%= link_to 'New Post', new_post_path %>
  </p>
</div>

<div id="contact-block" class="information" name="contact">
  <h3>Contact</h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nisi justo, eleifend feugiat orci at, bibendum vehicula sapien. Sed tincidunt imperdiet arcu, vel venenatis quam ornare a. Sed venenatis orci eu ligula aliquam, placerat blandit quam pharetra. Nunc non lacus nisi. Aliquam malesuada risus a ipsum posuere, ac sollicitudin lorem rhoncus. Vestibulum aliquam, odio ac tempor tincidunt, sem nulla pharetra nulla, sed hendrerit enim risus quis dui. Sed vel porta arcu. Proin a sollicitudin lectus. Suspendisse in euismod neque. Fusce adipiscing feugiat mauris a consequat. Aliquam erat volutpat.
  </p>
</div>

<div id="studio-block" class="information" name="studio">
  <h3>Studio</h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nisi justo, eleifend feugiat orci at, bibendum vehicula sapien. Sed tincidunt imperdiet arcu, vel venenatis quam ornare a. Sed venenatis orci eu ligula aliquam, placerat blandit quam pharetra. Nunc non lacus nisi. Aliquam malesuada risus a ipsum posuere, ac sollicitudin lorem rhoncus. Vestibulum aliquam, odio ac tempor tincidunt, sem nulla pharetra nulla, sed hendrerit enim risus quis dui. Sed vel porta arcu. Proin a sollicitudin lectus. Suspendisse in euismod neque. Fusce adipiscing feugiat mauris a consequat. Aliquam erat volutpat.
  </p>
</div>
