<div class="row-fluid">
  <div id="intro-block" class="span5" name="intro">
    <div class="quote">
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nisi justo, eleifend feugiat orci at, bibendum vehicula sapien." <span class="quote_source">John Doe, Jazz-Pianist</span>
    </div>
    <div class="quote">
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit." <span class="quote_source">Jane May, Singer</span>
    </div>
    <div class="quote">
      "Donec nisi justo, eleifend feugiat orci at, bibendum vehicula sapien. Sed tincidunt imperdiet arcu, vel venenatis quam ornare a." <span class="quote_source">Bob Doe, Saxophonist</span>
    </div>
  </div>
  <div class="span7">
    <img src="https://s3.amazonaws.com/jgstudios/pictures/intro.jpg" alt="Responsive image">
  </div>
</div>


<div id="galleries-block" class="information" name="galleries">
  <h3>Galleries</h3>
  <div class="left">
    <a href="">
      <figure>
        <img class="portfolio_image" src="<%= asset_path("jazzgallery.jpg") %>" />
        <figcaption>Big Bands</figcaption>
      </figure>
    </a>
  </div>
  <div class="left">
    <a href="">
      <figure>
        <img class="portfolio_image" src="<%= asset_path("womenjazz.jpg") %>" />
        <figcaption>Women and Jazz</figcaption>
      </figure>
    </a>
  </div>
  <div class="left">
    <a href="">
      <figure>
        <img class="portfolio_image" src="<%= asset_path("luminaries.png") %>" />
        <figcaption>Luminaries</figcaption>
      </figure>
    </a>
  </div>
  <div class="left">
    <a href="">
      <figure>
        <img class="portfolio_image" src="<%= asset_path("circleoftrust.jpg") %>" />
        <figcaption>Circle of Musical Trust</figcaption>
      </figure>
    </a>
  </div>
  <p class="clear">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nisi justo, eleifend feugiat orci at, bibendum vehicula sapien. Sed tincidunt imperdiet arcu, vel venenatis quam ornare a. Sed venenatis orci eu ligula aliquam, placerat blandit quam pharetra. Nunc non lacus nisi. Aliquam malesuada risus a ipsum posuere, ac sollicitudin lorem rhoncus. Vestibulum aliquam, odio ac tempor tincidunt, sem nulla pharetra nulla, sed hendrerit enim risus quis dui. Sed vel porta arcu. Proin a sollicitudin lectus. Suspendisse in euismod neque. Fusce adipiscing feugiat mauris a consequat. Aliquam erat volutpat.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nisi justo, eleifend feugiat orci at, bibendum vehicula sapien. Sed tincidunt imperdiet arcu, vel venenatis quam ornare a. Sed venenatis orci eu ligula aliquam, placerat blandit quam pharetra. Nunc non lacus nisi. Aliquam malesuada risus a ipsum posuere, ac sollicitudin lorem rhoncus. Vestibulum aliquam, odio ac tempor tincidunt, sem nulla pharetra nulla, sed hendrerit enim risus quis dui. Sed vel porta arcu. Proin a sollicitudin lectus. Suspendisse in euismod neque. Fusce adipiscing feugiat mauris a consequat. Aliquam erat volutpat.
  </p>
</div>

<div id="about-block" class="information" name="about">
  <div>
    <h3>Jonathan Glass - the Artist</h3>
    <p>
      Jonathan took pastel and figurative studies from ages 10-18. He considers his passion to have started in his third year of college. Teacher Alan E. Cober taught journaling of experiences through sketchbook class. This was informative to develop his personal style of drawing. Jonathan also invested a lot of time getting to know elderly people in the old homes of Amherst NY. This was around the time his grandfather was dying. Although not limited to a theme, Alan E Cober encouraged Jonathan to draw in anatomy labs, baseball games, grade school, zoos and (his favorite), concerts.
    </p>
    <p>
      After college, Jonathan tried to contend with a clinical depression. After hitting rock bottom, he found solace in the communities of Post Grad and Fountain House and ASL. After a five-year drought without making art, Ida Yokes, (art therapist at Post Grad), Nicki Orback and Irwin Greenberg (teachers at the Art Students League), nurtured and coaxed Jonathan to create once again.
    </p>
    <p>
      While Jonathan's grounding started with Cober, he continued to reconcile his notion of impermanence with jazz sketches. Jonathan has felt acceptance through the jazz community and many of its makers. Some noted musicians have even played at his openings. Some have sat for portratis in his studio (ie. Ravi Coltrane, Dan Tepfer, etc).
    </p>
    <p>
      The most important thing to his art is that whether painting or drawing, there has to be an element of improvisation, as well. Jonathan hopes that he could in some small way link the continuity of jazz from greats of the be-bop era to the standard bearers and hard boppers to avant-garde jazz and the beginnings of fusion and hip-hop.
    </p>
    <p>
      Whether drawing the elderly of those around street scenes or the greatest jazz musicians of today, Jonathan's mission has always been to link lives.</p>
    <div id="video" class="video left">
      <iframe width="640" height="360" src="http://www.youtube.com/embed/rmyzOU6ftHE?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
    </div>
    <div id="facts" class="right">
      <h4>Facts:</h4>
      <ul>
        <li>Artist since 1994</li>
        <li>Location: New York City</li>
        <li> ... </li>
      </ul>
    </div>
    <div class="clear"></div>
  </div>
</div>

<div id="blog-block" class="information" name="blog">
  <h3>Blog</h3>
  <p>
    <h1 class="blog_header">Jonathan's Blog</h1>

    <% @posts.each do |post|%>

      <div class="post-entry">
        <h2><%=link_to post.title, post_path(post.id) %></h2>
        <p><%=post.created_at.strftime("%B %d, %Y")%></p>

        <div class="post-body">
          <%if post==@posts.first%>
            <%post.body.html_safe%>
          <%end%>
        </div>
      </div>
      <hr>
    <%end%>

    <%= link_to 'New Post', new_post_path %>
  </p>
</div>

<div id="contact-block" class="information" name="contact">
  <h3>Contact</h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nisi justo, eleifend feugiat orci at, bibendum vehicula sapien. Sed tincidunt imperdiet arcu, vel venenatis quam ornare a. Sed venenatis orci eu ligula aliquam, placerat blandit quam pharetra. Nunc non lacus nisi. Aliquam malesuada risus a ipsum posuere, ac sollicitudin lorem rhoncus. Vestibulum aliquam, odio ac tempor tincidunt, sem nulla pharetra nulla, sed hendrerit enim risus quis dui. Sed vel porta arcu. Proin a sollicitudin lectus. Suspendisse in euismod neque. Fusce adipiscing feugiat mauris a consequat. Aliquam erat volutpat.
  </p>
</div>

<div id="studio-block" class="information" name="studio">
  <h3>Studio</h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nisi justo, eleifend feugiat orci at, bibendum vehicula sapien. Sed tincidunt imperdiet arcu, vel venenatis quam ornare a. Sed venenatis orci eu ligula aliquam, placerat blandit quam pharetra. Nunc non lacus nisi. Aliquam malesuada risus a ipsum posuere, ac sollicitudin lorem rhoncus. Vestibulum aliquam, odio ac tempor tincidunt, sem nulla pharetra nulla, sed hendrerit enim risus quis dui. Sed vel porta arcu. Proin a sollicitudin lectus. Suspendisse in euismod neque. Fusce adipiscing feugiat mauris a consequat. Aliquam erat volutpat.
  </p>
</div>
