<!-- <div id="intro-block" class="information" name="intro">
  <div class="row-fluid">

    <div class="span6">
      <img src="<%= asset_path("jazzgalleryH.jpg") %>" >
    </div>

    <div class="span6">
      <div class="row-fluid">
        <div class="span6">
          <img src="<%= asset_path("luminariesH.jpg") %>" >
        </div>
        <div class="span6">
          <img src="<%= asset_path("circleoftrustH.jpg") %>" >
        </div>
      </div>
    </div>

  </div>
  <div class="clear"></div>
</div> -->

<div id="home-block" class="information" name="home">
  <img src="<%= asset_path("NWP7602.JPG") %>" alt="Responsive image">
</div>

<div id="about-block" class="information" name="about">
  <div class="row-fluid">

    <div class="span1 pull-right">
    </div>

    <div id="about-artist" class="span5 pull-right">

      <h3>Jonathan Glass - the Artist</h3>
        <p>
          Jonathan took pastel and figurative studies from ages 10-18. He considers his passion to have started in his third year of college. Teacher Alan E. Cober taught journaling of experiences through sketchbook class. This was informative to develop his personal style of drawing.
        </p>
        <p>
          While Jonathan's grounding started with Cober, he continued to reconcile his notion of impermanence with jazz sketches. Some noted musicians have played at his openings. Some have sat for portratis in his studio (ie. Ravi Coltrane, Dan Tepfer, etc).
        </p>
        <p>
          The most important thing to his art is that whether painting or drawing, there has to be an element of improvisation, as well. Jonathan hopes that he could in some small way link the continuity of jazz from greats of the be-bop era to the standard bearers and hard boppers to avant-garde jazz and the beginnings of fusion and hip-hop.
        </p>

    </div>

    <div class="span1">
    </div>

    <div id="quotes" class="span4 pull-left">
      <div class="quote">
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nisi justo, eleifend feugiat orci at, bibendum vehicula sapien." <span class="quote_source">John Doe, Jazz-Pianist</span>
      </div>
      <div class="quote">
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit." <span class="quote_source">Jane May, Singer</span>
      </div>
      <div class="quote">
        "Donec nisi justo, eleifend feugiat orci at, bibendum vehicula sapien. Sed tincidunt imperdiet arcu, vel venenatis quam ornare a." <span class="quote_source">Bob Doe, Saxophonist</span>
      </div>
    </div>

    <div class="span1">
    </div>

  </div>
</div>

<div id="galleries-block" class="information" name="galleries">
  <div class="row-fluid">

    <div id="gallery-container" class="span6">
       <img src="<%= asset_path("jazzgalleryB.jpg") %>" >
    </div>

    <div class="span6">

      <div class="row-fluid">
        <div id="gallery1" class="gallery-img span6" >
          <img src="<%= asset_path("jazzgalleryB.jpg") %>" >
          <h3>Jazz Gallery</h3>
        </div>
        <div id="gallery2" class="gallery-img span6">
          <img src="<%= asset_path("womenjazzB.jpg") %>" >
          <h3>Women and Jazz</h3>
        </div>
      </div>
<p></p>
      <div class="row-fluid">
        <div id="gallery3" class="gallery-img span6">
          <img src="<%= asset_path("luminariesB.jpg") %>" >
          <h3>Luminaries</h3>
        </div>
        <div id="gallery4" class="gallery-img span6">
          <img src="<%= asset_path("circleoftrustB.jpg") %>" >
          <h3>Circle of Trust</h3>
        </div>
      </div>

    </div>
  </div>
  <div class="clear"></div>
</div>


<div id="buy-block" class="information" name="buy">
  <h3>Buy</h3>
</div>

<div id="blog-block" class="information" name="blog">
  <h3>Blog</h3>
  <p>
    <h1 class="blog_header">Jonathan's Blog</h1>

    <% @posts.each do |post|%>

      <div class="post-entry">
        <h2><%=link_to post.title, post_path(post.id) %></h2>
        <p><%=post.created_at.strftime("%B %d, %Y")%></p>

        <div class="post-body">
          <%if post==@posts.first%>
            <%post.body.html_safe%>
          <%end%>
        </div>
      </div>
      <hr>
    <%end%>
    <%= link_to 'New Post', new_post_path %>
  </p>
</div>

<div id="contact-block" class="information" name="contact">
  <h3>Contact</h3>

  <div class="row-fluid">

    <div id="contact-form" class="span6">
      <div class="form-group">
        <%= label_tag 'name', 'Name' %>
        <%= text_field_tag 'name', nil, class: 'form-control contact-field' %>
      </div>
      <div class="form-group">
        <%= label_tag 'email', 'Email' %>
        <%= email_field_tag 'email', nil, class: 'form-control contact-field' %>
      </div>
      <div class="form-group">
        <%= label_tag 'comments', 'Comments' %>
        <%= text_area_tag 'comments', nil, class: 'form-control contact-field', rows: 10 %>
      </div>
      <div class="form-button">
        <%= submit_tag nil, class: 'btn btn-default btn-about' %>
      </div>
    </div>

    <div class="span6">
      <div id="video" class="pull-right">
        <iframe width="500" height="300" src="http://www.youtube.com/embed/rmyzOU6ftHE?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>

  </div>
</div>

<div id="studio-block" class="information" name="studio">
  <h3>Studio</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nisi justo, eleifend feugiat orci at, bibendum vehicula sapien. Sed tincidunt imperdiet arcu, vel venenatis quam ornare a. Sed venenatis orci eu ligula aliquam, placerat blandit quam pharetra. Nunc non lacus nisi. Aliquam malesuada risus a ipsum posuere, ac sollicitudin lorem rhoncus. Vestibulum aliquam, odio ac tempor tincidunt, sem nulla pharetra nulla, sed hendrerit enim risus quis dui. Sed vel porta arcu. Proin a sollicitudin lectus. Suspendisse in euismod neque. Fusce adipiscing feugiat mauris a consequat. Aliquam erat volutpat.
    </p>
</div>
