<%= tinymce_assets %>

<%= form_for(@post) do |f| %>

  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="post-entry">

    <div class="field">
      <%= f.text_field :title, class: 'post-title-field', placeholder: 'Title of your post' %>
    </div>
    <div class="field">
      <%= f.text_area :body, :class => "tinymce", :rows => 20 %>
      <%= tinymce %>
    </div>

    <div class="post-actions">
      <%= f.submit  %>
    </div>

  </div>

<% end %>
