<h1 class="blog_header">Posts Administration Panel</h1>

        <div class="kaminari_pagination">
          <%= paginate @posts %>
        </div>

        <table class="post-list">
            <thead>
              <tr>
                <th>Title</th>
                <!-- <th>Body</th> -->
                <th>Author</th>
                <!-- <th>Categories</th> -->
                <th>Created at</th>
                <th colspan="3"></th>
              </tr>
            </thead>

            <tbody>
              <% @posts.each do |post| %>
                <tr>
                  <td><%= post.title %></td>
                  <!-- <td><%= link_to post.title, post %></td> -->
                  <!-- <td><%= truncate(post.body.gsub(/<[^>]*>/ui,''),length: 140, separator: " ") %></td> -->
                  <td><%= post.user.username %></td>
                 <!--    -->
                  <td><%= post.created_at.strftime("%B %d, %Y") %></td>
                  <td><%= link_to 'Show', post %></td>
                  <td><%= link_to 'Edit', edit_post_path(post) %></td>
                  <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure you want to delete your post?' } %></td>
                </tr>
              <% end %>
            </tbody>
        </table>

        <br>
        <p class="post-button">
          <%= link_to 'New Post', new_post_path %>
        </p>
