<div class="large-space"></div>

<div class="post-entry">

  <h2 class="post-entry-header"><%= @post.title %></h2>
  <p><%= @post.created_at.strftime("%B %d, %Y") %></p>

  <div class="post-body">
    <%= @post.body.html_safe %>
  </div>

</div>

<hr>

<% if current_user && current_user.is_admin? %>
  <div class="my-buttons">
    <%= link_to 'Back', '#', class: 'back_link my-button' %>
    <%= link_to 'Edit', edit_post_path(@post), class: 'my-button' %>
    <%= link_to 'All posts', posts_path, class: 'my-button' %>
  </div>
<% else %>
  <div class="my-buttons">
    <%= link_to 'Back', '#', class: 'back_link my-button' %>
  </div>
<% end %>
