<div class="large-space"></div>

<div class="row-fluid">

  <div class="post-entry">

    <h2 class="post-entry-header"><%= @post.title %></h2>
    <p><%= @post.created_at.strftime("%B %d, %Y") %></p>

    <p class="post-body"><%= @post.body.html_safe %></p>

    <hr>
    <div class="post-buttons">
      <%= link_to 'Edit', edit_post_path(@post), class: 'post-button' %>
      <%= link_to 'Back', posts_path, class: 'post-button' %>
    </div>

  </div>

</div>
