<div class="large-space"></div>

<h1 class="page-header">Galleries</h1>

<div class="container">

  <% @galleries.each do |gallery| %>

    <div class="gallery_details">
      <h2>
        <%= gallery.name %>
      </h2>
      <p>
        ( <%= gallery.gallery_ident %> )
      </p>
      <div>
        <%= gallery.caption %>
      </div>

      <div class="gallery_links">
        <%= link_to 'Show', gallery %>
        <%= link_to 'Edit', edit_gallery_path(gallery) %>
        <%= link_to 'Delete', gallery, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>

    </div>

  <% end %>

</div>

<hr>
<div class="my-buttons">
  <%= link_to 'Back', '#', class: 'back_link my-button' %>
  <%= link_to 'New gallery', new_gallery_path, class: 'my-button' %>
</div>
