<!DOCTYPE html>
<html>

<head>
  <title>Jonathan Glass Galleries</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='http://fonts.googleapis.com/css?family=Lato:100' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>

  <!-- Fonts for "Studios" in bootstrap_and_overrides.css / .navbar .navbar-inner .brand span -->
  <link href='http://fonts.googleapis.com/css?family=Parisienne' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Condiment' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Allura' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Pinyon+Script' rel='stylesheet' type='text/css'>

  <%= csrf_meta_tags %>
</head>

<body>

  <div id="wrapper">

    <header>
      <%= nav_bar :fixed => :top, :responsive => true do %>

      <div class="message-area">
        <span id="notice"><%= flash[:notice] %></span>
        <span id="alert"><%= flash[:alert] %></span>
      </div>

      <div class="brand">Jonathan Glass <span>Studios</span></div>

        <ul class="nav navbar-nav">
          <li class="home-menu"><a href="/#home">Home</a></li>
          <li class="about-menu"><a href="/#about">About</a></li>
          <li class="galleries-menu"><a href="/#galleries">Galleries</a></li>
          <li class="buy-menu"><a href="/#buy">Buy</a></li>
          <li class="blog-menu"><a href="/#blog">Blog</a></li>
          <li class="contact-menu"><a href="/#contact">Contact</a></li>
          <li class="studio-menu"><a href="/#studio">Studio</a></li>
        </ul>

        <div id="login-area">
          <%= render "devise/shared/registration_items" %>
        </div>

      <% end %>

    </header>

    <div class="container-fluid">
      <%= yield %>
    </div>

    <hr>

    <div id="footer">
      <div id="social_icons">
        <a href="https://youtu.be/rmyzOU6ftHE" target="_blank"><img src="<%= asset_path("youtube.png") %>" alt="Youtube Icon"></a>
        <a href="#" target="_blank"><img src="<%= asset_path("twitter.png") %>" alt="Twitter Icon"></a>
        <a href="#" target="_blank"><img src="<%= asset_path("facebook.png") %>" alt="Facebook Icon"></a>
        <a href="#" target="_blank"><img src="<%= asset_path("pinterest.png") %>" alt="Pinterest Icon"></a>
      </div>
      <p>Copyright &copy; 2015, Jonathan Glass</p>
    </div>
  </div>


      <!--
      <div id="social_icons">
        <img src="<%= asset_path("social_youtube.png") %>" alt="Google Email Icon">
        <img src="<%= asset_path("social_twitter.png") %>" alt="Note">
        <img src="<%= asset_path("social_facebook.png") %>" alt="Note">
        <img src="<%= asset_path("social_pinterest.png") %>" alt="Note">
      </div>
      -->

      <!--
      <div id="social_icons">
        <img src="<%= asset_path("youtube-icon.png") %>" alt="Google Email Icon">
        <img src="<%= asset_path("twitter-icon.png") %>" alt="Note">
        <img src="<%= asset_path("facebook-icon.png") %>" alt="Note">
        <img src="<%= asset_path("pinterest-icon.png") %>" alt="Note">
      </div>
      -->

      <!--
      <div id="social_icons">
        <img src="<%= asset_path("youtube_icon.png") %>" alt="Google Email Icon">
        <img src="<%= asset_path("twitter_icon.png") %>" alt="Note">
        <img src="<%= asset_path("facebook_icon.png") %>" alt="Note">
        <img src="<%= asset_path("pinterest_icon.png") %>" alt="Note">
      </div>
      -->

      <!-- http://www.awicons.com/free-icons/social-media-icons/round-simple-social-icons-by-lokas-software/ -->
      <!--
      <div id="social_icons">
        <img src="<%= asset_path("youtube.png") %>" alt="Youtube Icon">
        <img src="<%= asset_path("twitter.png") %>" alt="Twitter Icon">
        <img src="<%= asset_path("facebook.png") %>" alt="Facebook Icon">
        <img src="<%= asset_path("pinterest.png") %>" alt="Pinterest Icon">
      </div>
      -->
