<!DOCTYPE html>
<html>
<head>
  <title>Jggalleries</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

     <!-- fonts -->
<!--     <link href='http://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Calligraffitti' rel='stylesheet' type='text/css'> -->
</head>
<body>

<div id="wrapper">

 <!--    <div class="navbar navbar-inverse navbar-fixed-top navbar-responsive" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="">Jonathan Glass Galleries</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="about-menu"><a href="#about">the Artist</a></li>
            <li class="jazz-menu"><a href="#jazz">about Jazz</a></li>
            <li class="portfolio-menu"><a href="#portfolio">Portfolio</a></li>
            <li class="events-menu"><a href="#events">Events</a></li>
            <li class="blog-menu"><a href="#blog">Blog</a></li>
            <li class="contact-menu"><a href="#contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
 -->



<!-- ************************************ -->
<!-- this is the nav bar -->

    <%= nav_bar :fixed => :top, :inverse => true, :responsive => true, :brand => "Jonathan Glass Studios" do %>
        <ul class="nav navbar-nav">
            <li class="galleries-menu"><a href="#galleries">Galleries</a></li>
            <li class="buy-menu"><a href="#buy">Buy</a></li>
            <li class="about-menu"><a href="#about">About</a></li>
            <li class="blog-menu"><a href="#blog">Blog</a></li>
            <li class="contact-menu"><a href="#contact">Contact</a></li>
            <li class="studio-menu"><a href="#studio">Studio</a></li>
        </ul>
        <%= menu_group :pull => :right do %>
            <%= menu_item "Login", root_path %>
        <% end %>
    <% end %>
<!-- end nav bar -->
<!-- ************************************ -->



<!--     <%= nav_bar :fixed => :top, :inverse => true, :responsive => true, :brand => "Jonathan Glass Studios" do %>
        <%= menu_group do %>
            <li class="about-menu"><a href="#about">the Artist</a></li>
            <li class="jazz-menu"><a href="#jazz">about Jazz</a></li>
            <%= menu_divider %>
            <li class="portfolio-menu"><a href="#portfolio">Portfolio</a></li>
            <%= drop_down "" do %>
                <%= menu_item "Jazz Gallery", root_path %>
                <%= menu_item "Women and Jazz", root_path %>
                <%= menu_item "Luminaries", root_path %>
                <%= menu_item "Circle of Musical trust", root_path %>
            <% end %>
            <%= menu_divider %>
            <li class="events-menu"><a href="#events">Events</a></li>
            <li class="blog-menu"><a href="#blog">Blog</a></li>
            <li class="contact-menu"><a href="#contact">Contact</a></li>
        <% end %>
        <%= menu_group :pull => :right do %>
            <%= menu_item "Login", root_path %>
        <% end %>
    <% end %> -->





    <%= yield %>

    <div id="footer">
      <p>Copyright &copy; 2014, Jonathan Glass</p>
    </div>

</div>

</body>
</html>
