<!DOCTYPE html>
<html>

<head>
  <title>Jonathan Glass Galleries</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='http://fonts.googleapis.com/css?family=Lato:100' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>

<body>

  <div id="wrapper">

    <header>
      <%= nav_bar :fixed => :top, :responsive => true, :brand => "Jonathan Glass Studios" do %>

        <div class="header-img pull-right">
          <img src="<%= asset_path("jazzgalleryM.jpg") %>" >
          <img src="<%= asset_path("luminariesM.jpg") %>" >
          <img src="<%= asset_path("circleoftrustM.jpg") %>" >

          <div class="login-area">
            <%= menu_group :pull => "right" do %>
              <% if user_signed_in? %>
                <span class="user-menu pull-right">
                  <%=link_to "Edit Profile", edit_user_registration_path %>
                </span>
                  <span class="user-menu pull-right">
                    <%=link_to "Sign out", destroy_user_session_path, method: :delete %>
                  </span>
              <% else %>
                <span class="user-menu pull-right">
                  <%= link_to "Sign Up", new_user_registration_path %></span>
                <span class="user-menu pull-right">
                  <%= link_to "Login", new_user_session_path %>
                </span>
              <% end %>
            <% end %>
          </div>
        </div>

        <ul class="nav navbar-nav">
          <li class="home-menu"><a href="#home">Home</a></li>
          <li class="about-menu"><a href="#about">About</a></li>
          <li class="galleries-menu"><a href="#galleries">Galleries</a></li>
          <li class="buy-menu"><a href="#buy">Buy</a></li>
          <li class="blog-menu"><a href="#blog">Blog</a></li>
          <li class="contact-menu"><a href="#contact">Contact</a></li>
          <li class="studio-menu"><a href="#studio">Studio</a></li>
        </ul>

        <div class="clear"></div>

        <div class="message-area">

          <div class="quote pull-left">
            "Donec nisi justo, eleifend feugiat orci at, bibendum vehicula sapien."<span class="quote_source">John Doe</span>
          </div>

          <div class="event pull-right">
            <p>Next event: 02/03/15 Exhibit at the Fountain House Gallery, 123 West 56th St, NY<p>
          </div>

        </div>

      <% end %>
    </header>

    <div class="container-fluid">
      <%= yield %>
    </div>

    <div id="footer">
      <p>Copyright &copy; 2015, Jonathan Glass</p>
    </div>

  </div>

</body>
</html>
